/* ==========================================================================
	 CONTACTS
	 ========================================================================== */
.contacts{
	background:#000 url('../images/adress.jpg') center top no-repeat;
	background-size: cover;
	min-height: 596px;
	color: #fff;
	@media screen and (max-width:767px) {
		padding-bottom: 20px;
	}
	@media screen and (max-width:600px) {
		padding-bottom: 40px;
	}
}
.contacts_adress{
	width: 231px;
	margin: 0px 0px 57px;
}
.contacts_adress,
.contacts_adress a{
	display: block;
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
	&:hover{
		color: #fff;
	}
}
.contacts_section_title{
	font-size: 75px;
	font-weight: 300;
	line-height: 69px;
	margin: 0;
}
.contacts_title{
	font-size: 35px;
	font-weight: 300;
	line-height: 69px;
	padding-top: 11px;
}
.contacts__welcome{
	padding-left: 33px;
	@media screen and (max-width:767px) {
		padding-left: 15px;
	}
}
.contacts_text{
	p{
		font-size: 20px;
		font-weight: 300;
		line-height: 28px;
		color: #fff;
		margin: 0px 0px 30px;
	}
}
.contacts_company{
	opacity: 0.5;
	color: white;
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
}
.contacts_inner-1{
	margin-top: 45px;
	@media screen and (max-width:600px) {
		margin-top: 20px;
	}
}
.contacts_inner-2{
	margin-top: 85px;
	@media screen and (max-width: 991px) {
		margin-top: 30px;
	}
}
.contacts_inner-3{
	margin-top: 118px;
	@media screen and (max-width:991px) {
		margin-top: 90px;
	}
	@media screen and (max-width:600px) {
		margin-top: 50px;
	}
}
.contacts__map{
	position: relative;
	.container{
		position: relative;
	}
	.map-close{
		opacity: 0;
		visibility:hidden;
		position: absolute;
		z-index: 5000;
		top:auto;
		bottom: 41px;
		left: 15px;
		&.active{
			visibility:visible;
			opacity: 1;
			transition: all 1s;
		}
	}
}
.map{
	width: 100%;
	height: 596px;
	@media screen and (max-width:767px) {
		height:400px;
	}
}
/* end contacts*/