/* ==========================================================================
	 PRODUCTS
	 ========================================================================== */
.product{
	position: relative;
	z-index: 5;
	width: 100%;
	min-height: 100px;
	background:#fff;
}
.product_hide{
	display:none;
}
.product_first{
	padding: 60px 0px 0px;
}
.product__view{
	padding-bottom: 56px;
}
.product__view_title{
	font-size: 75px;
	font-weight: 300;
	line-height: 69px;
	margin-top: 15px;
	margin-bottom: 30px;
	padding-left: 5px;
	@media screen and (max-width: 991px) {
		font-size: 55px;
		line-height:50px;
	}
}
.product__view_desc{
	padding-left: 5px;
	padding-right: 90px;
	padding-bottom: 26px;
	vertical-align: middle;
	@media screen and (max-width: 991px) {
		padding-right: 0;
	}
}
.product__view__order{
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	padding-left: 5px;
}
.price{
	display: inline-block;
	vertical-align: middle;
	font-size: 48px;
	font-weight: 600;
	line-height: 69px;
	margin-right: 25px;
}
.rub{
	position: relative;
	&:after{
		position: absolute;
		content: "";
		bottom: 20px;
		right: 7px;
		display: inline-block;
		width: 17px;
		height: 4px;
		background-color: #2b2d36;
	}
}
/* ==========================================================================
	 PROPERTIES
	 ========================================================================== */
.product__properties{
	display:block;
	width: 100%;
	@media screen and (max-width:767px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}
.product__properties_item{
	position: relative;
	display:inline-block;
	width: 99px;
	cursor: pointer;
	@media screen and (max-width: 1199px) {
		width: 80px;
	}
	@media screen and (max-width: 991px) {
		width: 130px;
	}
	@media screen and (max-width:799px) {
		width: 127px;
	}
	@media screen and (max-width:767px) {
		width: 20%;
		display:block;
		float:left;
		margin-bottom: 10px;
	}
	@media screen and (max-width:600px) {
		width: 25%;
	}
	@media screen and (max-width:480px) {
		width: 50%;
	}
	img{
		position: relative;
		max-width: 100%;
		transform: translateY(0);
		transition: all .5s ease;
	}
	&:not(:last-child){
		margin-right: 13px;
		@media screen and (max-width:767px) {
			margin-right: 0;
		}
	}
	@media screen and (min-width:1200px) {
		&:hover{
			img{
				transform: translateY(-15px);
				transition: all .5s ease;
			}
			.prop{
				visibility: visible;
				opacity: 1;
				transition: all .5s ease;
			}
		}
	}
	@media screen and (max-width:1199px) {
		&.active{
			img{
				transform: translateY(-15px);
				transition: all .5s ease;
			}
			.prop{
				visibility: visible;
				opacity: 1;
				transition: all .5s ease;
			}
		}
	}
}
.prop{
	position: absolute;
	top: -125%;
	left: 0;
	display: inline-block;
	font-weight: 600;
	line-height: 24px;
	width: 197px;
	visibility: hidden;
	opacity: 0;
	transition: all .5s ease;
	@media screen and (max-width: 1199px) {
		font-size: 12px;
		top: -100%;
		line-height: 16px;
	}
	@media screen and (max-width: 991px) {
		background: #fff;
		padding: 20px;
		top: -120%;
	}
}
.product__characteristics{
	padding-top: 39px;
	@media screen and (max-width:767px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}
.product__characteristics_item{
	display:block;
	float: left;
	width: 25%;
	padding-right: 20px;
	margin-bottom: 16px;
	min-height: 80px;
	@media screen and (max-width: 991px) {
		width: 33.33%;
	}
	@media screen and (max-width:767px) {
		width: 50%;
	}
	@media screen and (max-width:480px) {
		width: 100%;
	}
}
.character_title{
	font-weight: 600;
}
/* ==========================================================================
	 PREVIEW
	 ========================================================================== */
.product__preview{
	@media screen and (max-width:767px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}
.product__preview__item{
	position: relative;
	z-index: 99;
	display:inline-block;
	vertical-align:middle;
	padding: 12px 0;
	width: 100%;
	height: 220px;
	margin-bottom: 10px;
	cursor:pointer;
	background:#fff;
	overflow: hidden;
	box-shadow: 0 0 15px transparent;
	@media screen and (min-width: 1200px) {
		&:hover{
			z-index: 4;
			border-radius: 10px;
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
		}
	}
	@media screen and (max-width: 1199px) {
		&:active{
			z-index: 4;
			border-radius: 10px;
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
		}
	}
	>div{
		display:inline-block;
		vertical-align:middle;
		height:100%;
		min-height: 1px;
		@media screen and (max-width: 991px) {
			height:auto;
		}
	}
	.preview{
		position: absolute;
		left:0;
		top:0;
		width: 100%;
		height:100%;
		z-index: 2;
		background:transparent;
	}
}
.product__preview__item_image{
	padding:0;
	height:100%;
	img{
		vertical-align:middle;
	}
	@media screen and (max-width: 991px) {
		width: 40%;
	}
	@media screen and (max-width:767px) {
		display:block;
		float:left;
	}
}
.product__preview__item_order{
	float:right;
	padding: 60px 0px 0px 18px;
	.btn{
		z-index: 88;
	}
	@media screen and (max-width: 1199px) {
		padding: 70px 0 0 0px;
	}
	@media screen and (max-width: 991px) {
		padding-top: 0;
		width: 60%;
	}
}
.product__preview__item_name{
	display:inline-block;
	vertical-align:middle;
	height:100%;
	padding: 60px 0px 0px 3px;
	>h2{
		margin: 0;
		@media screen and (max-width:600px) {
			font-size: 36px;
			line-height:36px;
		}
	}
	@media screen and (max-width: 1199px) {
		padding: 70px 0 0 0px;
	}
	@media screen and (max-width: 991px) {
		width: 60%;
		padding-top: 38px;
	}
	@media screen and (max-width: 767px) {
		padding-top: 10px;
	}
}
.product__preview__item_order_price{
	font-size: 44px;
	margin-right: 45px;
	.rub{
		&:after{
			bottom: 19px;
			right: 5px;
		}
	}
	@media screen and (max-width: 1199px) {
		margin-right: 30px;
		font-size: 35px;
	}
}
/*end products*/