/* ==========================================================================
   FONTS
   ===========================================================================*/


/* Proxima Nova Condensed
   ========================================================================== */
/* Regular */
@font-face {
		font-family: "ProximaNovaCond";
		src: url('#{$proxima-font-path}Regular.eot');
		src: url("#{$proxima-font-path}Regular.eot?#iefix") format('embedded-opentype'),
				url("#{$proxima-font-path}Regular.woff") format("woff"),
				url('#{$proxima-font-path}Regular.svg') format('svg'),
				url("#{$proxima-font-path}Regular.ttf") format("truetype");
		font-weight: 400;
		font-style: normal;
}
/* Light */
@font-face {
		font-family: "ProximaNovaCond";
		src: url('#{$proxima-font-path}Light.eot');
		src: url("#{$proxima-font-path}Light.eot?#iefix") format('embedded-opentype'),
				url("#{$proxima-font-path}Light.woff") format("woff"),
				url('#{$proxima-font-path}Light.svg') format('svg'),
				url("#{$proxima-font-path}Light.ttf") format("truetype");
		font-weight: 300;
		font-style: normal;
}
/* Bold */
@font-face {
		font-family: "ProximaNovaCond";
		src: url('#{$proxima-font-path}Bold.eot');
		src: url("#{$proxima-font-path}Bold.eot?#iefix") format('embedded-opentype'),
				url("#{$proxima-font-path}Bold.woff") format("woff"),
				url('#{$proxima-font-path}Bold.svg') format('svg'),
				url("#{$proxima-font-path}Bold.ttf") format("truetype");
		font-weight: 700;
		font-style: normal;
}
/* Semibold */
@font-face {
		font-family: "ProximaNovaCond";
		src: url('#{$proxima-font-path}Semibold.eot');
		src: url("#{$proxima-font-path}Semibold.eot?#iefix") format('embedded-opentype'),
				url("#{$proxima-font-path}Semibold.woff") format("woff"),
				url('#{$proxima-font-path}Semibold.svg') format('svg'),
				url("#{$proxima-font-path}Semibold.ttf") format("truetype");
		font-weight: 600;
		font-style: normal;
}
/* end fonts*/