/* ==========================================================================
	 HEADER
	 ========================================================================== */
.header{
	position:relative;
	display: block;
	width:100%;
	min-height: 120px;
	padding-top: 17px;
	background: $header-bg;
}
/* end header */