/* ==========================================================================
   ICONS
   ===========================================================================*/
.icon{
	position: relative;
	display:inline-block;
}
.icon-cart{
	width: 23px;
	height: 18px;
	@include sprite($cart);
}
.icon-products{
	width: 16px;
	height: 16px;
	@include sprite($products);
}
.icon-check{
	width: 25px;
	height: 17px;
	@include sprite($check);
}
.icon-local{
	width: 25px;
	height: 37px;
	@include sprite($local);
}
.icon-smartphone{
	width: 22px;
	height: 36px;
	@include sprite($smartphone);
}
.icon-box{
	width: 50px;
	height: 44px;
	@include sprite($box);
}
.icon-box-black{
	width: 50px;
	height: 44px;
	@include sprite($box-black);
}
.icon-office{
	width: 50px;
	height: 44px;
	@include sprite($office);
}
.icon-office-black{
	width: 50px;
	height: 44px;
	@include sprite($office-black);
}
.icon-manager{
	width: 50px;
	height: 44px;
	@include sprite($manager);
}
.icon-manager-black{
	width: 50px;
	height: 44px;
	@include sprite($manager-black);
}
.icon-lawyer{
	width: 50px;
	height: 44px;
	@include sprite($lawyer);
}
.icon-lawyer-black{
	width: 50px;
	height: 44px;
	@include sprite($lawyer-black);
}
.icon-system{
	width: 50px;
	height: 44px;
	@include sprite($system);
}
.icon-system-black{
	width: 50px;
	height: 44px;
	@include sprite($system-black);
}
.icon-pay{
	width: 50px;
	height: 44px;
	@include sprite($pay);
}
.icon-pay-black{
	width: 50px;
	height: 44px;
	@include sprite($pay-black);
}
.icon-rub{
	width: 21px;
	height: 33px;
	@include sprite($rub);
}
.icon-rub-s{
	width: 19px;
	height: 30px;
	@include sprite($rub-s);
}
.icon-rub-sm{
	width: 12px;
	height: 17px;
	@include sprite($rub-sm);
}
/* end icons*/