/* ==========================================================================
   ICONS
   ===========================================================================*/
.icon{
	position: relative;
	display:inline-block;
}
.icon-cart{
	width: 23px;
	height: 18px;
	@include sprite($cart);
}
.icon-products{
	width: 16px;
	height: 16px;
	@include sprite($products);
}
.icon-check{
	width: 25px;
	height: 17px;
	@include sprite($check);
}
.icon-local{
	width: 25px;
	height: 37px;
	@include sprite($local);
}
.icon-smartphone{
	width: 22px;
	height: 36px;
	@include sprite($smartphone);
}
/* end icons*/