/* ==========================================================================
   GP STUDIO
   ========================================================================== */
/**
 *  1. Fonts
 *  2. Colors
 *  3. Buttons
 *  4. Forms
 *  5. Global
 *  6.Z-index
 *  7.TABLE
 */

/* 1. Fonts
   ========================================================================== */

$proxima-font-path: "../fonts/Proxima Nova Condensed/";


$font-family: "ProximaNovaCond", Helvetica, Arial, sans-serif;
$font-family-proxima: "ProximaNovaCond", Helvetica, Arial, sans-serif;
$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;

$font-size-base: 16px;
$font-size-h1: 75px;
$font-size-h2: 55px;
$font-size-h3: 16px;
$font-size-h4: 14px;
$font-size-h5: 12px;

$line-height-base: 24px;
$font-weight-base: 300;

/* 2. Colors
   ========================================================================== */

$body-bg:#fff;
$text-color: #2b2d36;
$primary-color: #004eff;
$secondary-color: #ed3425;
$third-color: #1b2f4f;
$link-color: #fff;
$link-color-hover: #004eff;
$white: #fff;
$black: #000;
$title-color: $primary-color;
$error: #ff6000;
/* 3. Buttons
   ========================================================================== */
// default
$button-height: auto;
$button-width: auto;
$button-radius: 0;
$button-background: $primary-color;
$button-background-hover: #fff;
$button-color: #fff ;
$button-color-hover: $primary-color;
$button-border-width: 3px;
$button-border-color: $primary-color;

// lighten button
$button-lighten-background: transparent;
$button-lighten-background-hover: #fff;
$button-lighten-color: #fff ;
$button-lighten-color-hover: $primary-color;
$button-lighten-border-width: 3px;
$button-lighten-border-color: #fff;

// // Disabled styles
$button-disabled-background: #DFDFDF ;
$button-disabled-color: #9F9F9F ;



/* 4. Forms
   ========================================================================== */

$input-height:30px;
$input_font_size:$font-size-base;
$input-border-color:#ccc;
$input-placeholder-color: $black;
$input-text-color:$black;
// $input_radius:;


/* 5. Z-index
   ========================================================================== */

$z-index: (
   popap : 9999,
   header : 100,
   footer : 100
);

/* 6. Media Points
   ========================================================================== */

// $point-1: 1200px;
// $point-2: 1024px;
// $point-3: 768px;
// $point-4: 480px;
// $point-5: 320px;


/* 7. Table
   ========================================================================== */
$bg-thead:$primary-color;
$color-thead:#fff;
$bg-tbody:#efefef;
$color-tbody:$primary-color;