/* ==========================================================================
   GP STUDIO
   ========================================================================== */
/**
 *  1. Fonts
 *  2. Colors
 *  3. Buttons
 *  4. Forms
 *  5. Global
 *  6.Z-index
 *  7.TABLE
 */

/* 1. Fonts
   ========================================================================== */

$proxima-font-path: "../fonts/Proxima Nova Condensed/";


$font-family: "ProximaNovaCond", Helvetica, Arial, sans-serif;
$font-family-proxima: "ProximaNovaCond", Helvetica, Arial, sans-serif;
$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;

$font-size-base: 16px;
$font-size-h1: 75px;
$font-size-h2: 55px;
$font-size-h3: 16px;
$font-size-h4: 14px;
$font-size-h5: 12px;

$line-height-base: 24px;
$font-weight-base: 300;

/* 2. Colors
   ========================================================================== */

$body-bg:#fff;
$header-bg:#1c1d25;
$text-color: #2b2d36;
$primary-color: #004eff;
$secondary-color: #ed3425;
$third-color: #1b2f4f;
$link-color: #fff;
$link-color-hover: #004eff;
$white: #fff;
$black: #000;
$title-color: $text-color;
$error: #ff6000;
$success: #29b40d;
/* 3. Buttons
   ========================================================================== */
// default
$button-height: 42px;
$button-width: auto;
$button-font-size:13px;
$button-font-weight:600;
$button-background: $primary-color;
$button-background-hover: $primary-color;
$button-color: $white;
$button-color-hover: $white;
$button-radius: 21px;
$button-border-width: 0px;
$button-border-color: $white;

// check button
$button-check-background:$success;


// lighten button
$button-lighten-background: transparent;
$button-lighten-background-hover: $primary-color;
$button-lighten-color: $white;
$button-lighten-color-hover: $white;
$button-lighten-border-width: 2px;
$button-lighten-border-color: #fff;

// // Disabled styles
$button-disabled-background: #DFDFDF ;
$button-disabled-color: #9F9F9F ;



/* 4. Forms
   ========================================================================== */
$gutter-width: 1.5rem !default;

$input-height: 3rem;
$input_font_size:$font-size-base;
$input-border-color:$text-color;
$input-placeholder-color: $black;
$input-text-color:$text-color;
$input-font-size: 18px;
$input-margin: 0 0 6px 0 ;
$input-padding: 0 ;
$input-transition: all .3s ;
$label-font-size: .8rem ;
$input-background: #fff ;

$input-error-color: $error;
$input-success-color: $success ;
$input-focus-color: $primary-color ;
$input-disabled-color: rgba(0,0,0, .26) ;
$input-disabled-solid-color: #BDBDBD ;
$input-disabled-border: 1px dotted $input-disabled-color ;
$input-invalid-border: 1px solid $input-error-color ;
$placeholder-text-color: lighten($input-border-color, 20%) ;

// $input_radius:;


/* 5. Z-index
   ========================================================================== */

$z-index: (
   popap : 9999,
   header : 100,
   footer : 100
);

/* 6. Media Points
   ========================================================================== */

// $point-1: 1200px;
// $point-2: 1024px;
// $point-3: 768px;
// $point-4: 480px;
// $point-5: 320px;


/* 7. Table
   ========================================================================== */
$bg-thead:$primary-color;
$color-thead:#fff;
$bg-tbody:#efefef;
$color-tbody:$primary-color;