%svg-common {
	background: url("../sprite-position.svg") no-repeat;
}

.svg-YouTube-icon-dark {
	@extend %svg-common;
	background-position: 0 0;
	width: 1024px;
	height: 721px;
}

.svg-YouTube-icon-red {
	@extend %svg-common;
	background-position: 0 100%;
	width: 1024px;
	height: 721px;
}

