/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$box-black-name: 'box-black';
$box-black-x: 134px;
$box-black-y: 61px;
$box-black-offset-x: -134px;
$box-black-offset-y: -61px;
$box-black-width: 50px;
$box-black-height: 44px;
$box-black-total-width: 288px;
$box-black-total-height: 222px;
$box-black-image: '../images/sprite/sprite.png';
$box-black: (134px, 61px, -134px, -61px, 50px, 44px, 288px, 222px, '../images/sprite/sprite.png', 'box-black', );
$box-name: 'box';
$box-x: 68px;
$box-y: 63px;
$box-offset-x: -68px;
$box-offset-y: -63px;
$box-width: 50px;
$box-height: 44px;
$box-total-width: 288px;
$box-total-height: 222px;
$box-image: '../images/sprite/sprite.png';
$box: (68px, 63px, -68px, -63px, 50px, 44px, 288px, 222px, '../images/sprite/sprite.png', 'box', );
$cart-name: 'cart';
$cart-x: 265px;
$cart-y: 0px;
$cart-offset-x: -265px;
$cart-offset-y: 0px;
$cart-width: 23px;
$cart-height: 18px;
$cart-total-width: 288px;
$cart-total-height: 222px;
$cart-image: '../images/sprite/sprite.png';
$cart: (265px, 0px, -265px, 0px, 23px, 18px, 288px, 222px, '../images/sprite/sprite.png', 'cart', );
$check-name: 'check';
$check-x: 192px;
$check-y: 177px;
$check-offset-x: -192px;
$check-offset-y: -177px;
$check-width: 27px;
$check-height: 19px;
$check-total-width: 288px;
$check-total-height: 222px;
$check-image: '../images/sprite/sprite.png';
$check: (192px, 177px, -192px, -177px, 27px, 19px, 288px, 222px, '../images/sprite/sprite.png', 'check', );
$lawyer-black-name: 'lawyer-black';
$lawyer-black-x: 0px;
$lawyer-black-y: 0px;
$lawyer-black-offset-x: 0px;
$lawyer-black-offset-y: 0px;
$lawyer-black-width: 52px;
$lawyer-black-height: 48px;
$lawyer-black-total-width: 288px;
$lawyer-black-total-height: 222px;
$lawyer-black-image: '../images/sprite/sprite.png';
$lawyer-black: (0px, 0px, 0px, 0px, 52px, 48px, 288px, 222px, '../images/sprite/sprite.png', 'lawyer-black', );
$lawyer-name: 'lawyer';
$lawyer-x: 67px;
$lawyer-y: 0px;
$lawyer-offset-x: -67px;
$lawyer-offset-y: 0px;
$lawyer-width: 52px;
$lawyer-height: 48px;
$lawyer-total-width: 288px;
$lawyer-total-height: 222px;
$lawyer-image: '../images/sprite/sprite.png';
$lawyer: (67px, 0px, -67px, 0px, 52px, 48px, 288px, 222px, '../images/sprite/sprite.png', 'lawyer', );
$local-name: 'local';
$local-x: 202px;
$local-y: 118px;
$local-offset-x: -202px;
$local-offset-y: -118px;
$local-width: 25px;
$local-height: 37px;
$local-total-width: 288px;
$local-total-height: 222px;
$local-image: '../images/sprite/sprite.png';
$local: (202px, 118px, -202px, -118px, 25px, 37px, 288px, 222px, '../images/sprite/sprite.png', 'local', );
$manager-black-name: 'manager-black';
$manager-black-x: 0px;
$manager-black-y: 177px;
$manager-black-offset-x: 0px;
$manager-black-offset-y: -177px;
$manager-black-width: 46px;
$manager-black-height: 45px;
$manager-black-total-width: 288px;
$manager-black-total-height: 222px;
$manager-black-image: '../images/sprite/sprite.png';
$manager-black: (0px, 177px, 0px, -177px, 46px, 45px, 288px, 222px, '../images/sprite/sprite.png', 'manager-black', );
$manager-name: 'manager';
$manager-x: 61px;
$manager-y: 177px;
$manager-offset-x: -61px;
$manager-offset-y: -177px;
$manager-width: 46px;
$manager-height: 45px;
$manager-total-width: 288px;
$manager-total-height: 222px;
$manager-image: '../images/sprite/sprite.png';
$manager: (61px, 177px, -61px, -177px, 46px, 45px, 288px, 222px, '../images/sprite/sprite.png', 'manager', );
$office-black-name: 'office-black';
$office-black-x: 202px;
$office-black-y: 59px;
$office-black-offset-x: -202px;
$office-black-offset-y: -59px;
$office-black-width: 48px;
$office-black-height: 44px;
$office-black-total-width: 288px;
$office-black-total-height: 222px;
$office-black-image: '../images/sprite/sprite.png';
$office-black: (202px, 59px, -202px, -59px, 48px, 44px, 288px, 222px, '../images/sprite/sprite.png', 'office-black', );
$office-name: 'office';
$office-x: 202px;
$office-y: 0px;
$office-offset-x: -202px;
$office-offset-y: 0px;
$office-width: 48px;
$office-height: 44px;
$office-total-width: 288px;
$office-total-height: 222px;
$office-image: '../images/sprite/sprite.png';
$office: (202px, 0px, -202px, 0px, 48px, 44px, 288px, 222px, '../images/sprite/sprite.png', 'office', );
$pay-black-name: 'pay-black';
$pay-black-x: 78px;
$pay-black-y: 124px;
$pay-black-offset-x: -78px;
$pay-black-offset-y: -124px;
$pay-black-width: 63px;
$pay-black-height: 38px;
$pay-black-total-width: 288px;
$pay-black-total-height: 222px;
$pay-black-image: '../images/sprite/sprite.png';
$pay-black: (78px, 124px, -78px, -124px, 63px, 38px, 288px, 222px, '../images/sprite/sprite.png', 'pay-black', );
$pay-name: 'pay';
$pay-x: 0px;
$pay-y: 124px;
$pay-offset-x: 0px;
$pay-offset-y: -124px;
$pay-width: 63px;
$pay-height: 38px;
$pay-total-width: 288px;
$pay-total-height: 222px;
$pay-image: '../images/sprite/sprite.png';
$pay: (0px, 124px, 0px, -124px, 63px, 38px, 288px, 222px, '../images/sprite/sprite.png', 'pay', );
$products-name: 'products';
$products-x: 265px;
$products-y: 33px;
$products-offset-x: -265px;
$products-offset-y: -33px;
$products-width: 16px;
$products-height: 16px;
$products-total-width: 288px;
$products-total-height: 222px;
$products-image: '../images/sprite/sprite.png';
$products: (265px, 33px, -265px, -33px, 16px, 16px, 288px, 222px, '../images/sprite/sprite.png', 'products', );
$rub-s-name: 'rub-s';
$rub-s-x: 158px;
$rub-s-y: 177px;
$rub-s-offset-x: -158px;
$rub-s-offset-y: -177px;
$rub-s-width: 19px;
$rub-s-height: 30px;
$rub-s-total-width: 288px;
$rub-s-total-height: 222px;
$rub-s-image: '../images/sprite/sprite.png';
$rub-s: (158px, 177px, -158px, -177px, 19px, 30px, 288px, 222px, '../images/sprite/sprite.png', 'rub-s', );
$rub-sm-name: 'rub-sm';
$rub-sm-x: 265px;
$rub-sm-y: 64px;
$rub-sm-offset-x: -265px;
$rub-sm-offset-y: -64px;
$rub-sm-width: 12px;
$rub-sm-height: 17px;
$rub-sm-total-width: 288px;
$rub-sm-total-height: 222px;
$rub-sm-image: '../images/sprite/sprite.png';
$rub-sm: (265px, 64px, -265px, -64px, 12px, 17px, 288px, 222px, '../images/sprite/sprite.png', 'rub-sm', );
$rub-name: 'rub';
$rub-x: 122px;
$rub-y: 177px;
$rub-offset-x: -122px;
$rub-offset-y: -177px;
$rub-width: 21px;
$rub-height: 33px;
$rub-total-width: 288px;
$rub-total-height: 222px;
$rub-image: '../images/sprite/sprite.png';
$rub: (122px, 177px, -122px, -177px, 21px, 33px, 288px, 222px, '../images/sprite/sprite.png', 'rub', );
$smartphone-name: 'smartphone';
$smartphone-x: 156px;
$smartphone-y: 124px;
$smartphone-offset-x: -156px;
$smartphone-offset-y: -124px;
$smartphone-width: 22px;
$smartphone-height: 36px;
$smartphone-total-width: 288px;
$smartphone-total-height: 222px;
$smartphone-image: '../images/sprite/sprite.png';
$smartphone: (156px, 124px, -156px, -124px, 22px, 36px, 288px, 222px, '../images/sprite/sprite.png', 'smartphone', );
$system-black-name: 'system-black';
$system-black-x: 134px;
$system-black-y: 0px;
$system-black-offset-x: -134px;
$system-black-offset-y: 0px;
$system-black-width: 53px;
$system-black-height: 46px;
$system-black-total-width: 288px;
$system-black-total-height: 222px;
$system-black-image: '../images/sprite/sprite.png';
$system-black: (134px, 0px, -134px, 0px, 53px, 46px, 288px, 222px, '../images/sprite/sprite.png', 'system-black', );
$system-name: 'system';
$system-x: 0px;
$system-y: 63px;
$system-offset-x: 0px;
$system-offset-y: -63px;
$system-width: 53px;
$system-height: 46px;
$system-total-width: 288px;
$system-total-height: 222px;
$system-image: '../images/sprite/sprite.png';
$system: (0px, 63px, 0px, -63px, 53px, 46px, 288px, 222px, '../images/sprite/sprite.png', 'system', );
$spritesheet-width: 288px;
$spritesheet-height: 222px;
$spritesheet-image: '../images/sprite/sprite.png';
$spritesheet-sprites: ($box-black, $box, $cart, $check, $lawyer-black, $lawyer, $local, $manager-black, $manager, $office-black, $office, $pay-black, $pay, $products, $rub-s, $rub-sm, $rub, $smartphone, $system-black, $system, );
$spritesheet: (288px, 222px, '../images/sprite/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
