.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-YouTube-icon-dark {
	font-size:(721/10)*1rem;
	width:(1024/721)*1em;
}
.icon-YouTube-icon-red {
	font-size:(721/10)*1rem;
	width:(1024/721)*1em;
}
